*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box; /* Evita problemas de tamaño */
}

header{
    height: 100px;
    background-color: #074463;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

img{
    width: 10%;
}

/* Logo */
#logo {
    display: flex;
    align-items: center; /* Alinea verticalmente la imagen y el texto */
    gap: 10px; /* Espacio entre imagen y texto */
}

/* Imagen del logo */
#logo img {
    width: 95px; /* Ajusta el tamaño según sea necesario */
    height: auto;
}

/* Estilos para el menú de navegación */
#menu{
    display: flex;
    flex-direction: row;
    gap:20px;
}
#menu a{
    
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.boton{
    border-radius: 20px;
    background-color: #00A6FB;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    transition: background-color 0.3s; /* Suaviza el cambio de color */
}

.boton:hover {
    background-color: #008cdb; /* Cambio de color al pasar el cursor */
}