
/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Fondo general */
    
   
}

#contenedor{
    display: flex;
}
#menu{
    padding: 10px; /* Espaciado interno */
    background-color: #81d4fa; /* Fondo del sidebar */
    flex:1; 
}

#menu ul {
    list-style: none; /* Quita los puntos de la lista */
    margin: 0;
    padding: 0;
}

#menu li{
    border-bottom: 1px solid grey;
    margin-bottom: 10px; /* Espacio entre los elementos del menú */
}

#menu a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

#contenido {
    
    background-color: #c8e6c9; /* Fondo del contenido principal */
    padding: 20px; /* Espaciado interno */
    flex:8;
    color: #000;
   
}
