/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background: url('img/img1.jpg') no-repeat center center/cover;
    background-size: cover; /*que ocupe todo*/
    color: white;
    text-align: center;
    padding: 20px;
    /*que este centrado los bloques*/
    justify-content: center;
    align-items: center;

    min-height: 150px;/*anchura de la imagen*/
  }
  
  header h1 {
    margin: 0;
  }
  header button{
    padding: 20px;
    background-color: blue;
    color : white;
    margin-top: 20px;
    border: 1px solid white;
    border-radius: 15px;
  }
  
  .call-to-action {
    background-color: #007BFF;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .call-to-action:hover {
    background-color: #0056b3;
  }
  
  /*menu y pie poner mismo color*/
  nav,footer {
    background-color: #2d4f99;
  }
  
  nav ul {
    list-style: none; /*quitar los puntos*/
    margin: 0;
    padding: 20px;
    display: flex; 
    margin-bottom: 50px; /*separar los bloque de abajo*/
  }
  
  nav li {
    margin: 0 15px;
  }
  
  nav a {
    color: rgb(243, 156, 43);
    text-decoration: none; /*quitar subrayado*/
  }
  /**/
  .main-content {
    padding: 20px;
  }
  
  .gallery {

    display: grid; /*organizar los elementos hijos en filas y columnas.*/
    grid-template-columns: 1fr; /*coloca los elementos en una sola columna.*/
    gap: 20px; /*espacio de 20px entre las filas y columnas */
  }
  
  .gallery article img {
    width: 100%;
   
    display: block; /* Cambia el comportamiento predeterminado de la imagen a "bloque". */
  }
  
 /*pie de pagina*/
  .footer {
    
    color: white;
    padding: 20px;
    display: grid;
    gap: 20px;

  }
  /* Contacto */
.footer .contact form {
  display: grid;
  gap: 10px;
  width: 40%;
}
.footer .contact input, 
.footer .contact button {
  padding: 5px;
  width: 100px;
  border-radius: 5px;
  font-size: 16px;
}
.footer .contact button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}
.footer .contact button:hover {
  background-color: #0056b3;
}
/**/
.footer h3 {
    margin: 0 0 10px 0;
  }

.footer a {
    color: white;
    text-decoration: none;
  }
  
.footer a:hover {
    text-decoration: underline;
  }
  
.footer .social img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}
li{
  list-style: none; /*quitar los puntos*/
}

  /* Responsive */
  @media (min-width: 768px) {
    .gallery {
      grid-template-columns: repeat(4, 1fr);
    }
    /*
    - Ahora tendrá 4 columnas de igual tamaño.
    `repeat(4, 1fr)` significa que se repiten 4 columnas,
    cada una ocupando 1 fracción del espacio total disponible. */
    
    .footer {
      grid-template-columns: 1fr 1fr;
    }
  }

/*Hacer en casa*/
/*
  @media screen and(max-widht:767px){
      header button{
        padding: 10px;
      }
      li{
        text-align: center;
        padding: 10px; /*relleno cada elemento
        }
      .gallery {
        padding: 50px;
      }
      footer h2{
        text-align: center;
        padding-top: 20px;
        margin-bottom: 20px;
      }
      .gallery img{
        width:100px;
      }
      footer form{
        display: flex;
        flex-direction: column;
        padding: 10px 100px;
        background-color: white;
        text-align: center;
      }
      footer form label{
        width: 100%;
      }
      footer form input [type="submit"]{
        background-color: blue;
        color: chocolate;
        margin: 0 auto;
      }
  }*/
  /*
  @media screen and (min-width: 768px){
      header button{
        padding: 10px 100px;
      }
      nav li{

        

      }

  }