
body{
    
     color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
    
}

#formulario{
    background-color: rgb(63, 63, 150);
    height: 300%;
    width: 60%;
    
    /**borde para el formulario **/
    border:solid 5px;
    border-color: rgb(0, 0, 0);

}

#cuenta{
    /** **/
    background-color: rgb(103, 169, 185);

    /**linea roja **/
    border-bottom: 5px solid red;
    /**linea anchura y altura **/
    width: 90% ;
    height: 70px;
}

form{

}