*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "saira";
    
}

@font-face {
    font-family: "saira";
    src: url("../fonts/saira-semi-condensed-v5-latin-regular.ttf");
}
.fila{
    display: flex;
}
.centrado_v{
    align-items: center;
}
.centrado_h{
    justify-content: center;
}
.wrap{
    flex-wrap: wrap;
}
.column1{
    width: 100%;
}
.column2{
    width: 50%;
}
.column3{
    width: 33%;
}
.centrarTexto{
    text-align: center;
}
.derechaTexto{
    text-align: right;
}
header img{
    height: 75px;
}

a{
    text-decoration: none;
}

nav ul li{
    display: inline-block;
    padding: 10px;
    font-size: 25px;
}

#sec3 img{
    max-height: 855px;
}

#sec5 img{
    width: 20%;
}

#sec6{
    justify-content: right;
    background-image: url("../img/paisaje4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
}

#sec8 img{
    height: 400px;
}
.fondoNegro{
    background-color: black;
}
.fondoGris{
    background-color: rgb(233, 233, 233);
}
.textoBlanco{
    color: white;
    font-weight: bold;
}
.textoGris{
    color: grey;
    font-weight: bold;
}

.p20{
    padding: 20px;
}

.p20_40{
    padding: 20px 40px;
}

.p50{
    padding: 50px;
}

.p100{
    padding: 100px;
}


form input, form textarea{
    margin-top: 10px;    
    margin-bottom: 10px;
}

button, input[type="submit"]{
    border-radius: 20px;
    box-shadow: 5px 5px 5px black;
}
