#cajas{
    display: flex;
    justify-content: space-between;
    gap:2px;
    list-style: none;
    padding: 0;
    background-color: rgb(177, 230, 230);
}

#cajas li{
    flex:1 1 0;
    padding: 10px;
    border: 2px solid #ffffff;
}

/* 
display: flex; organiza los elementos en una fila o columna y
hace que se ajusten automáticamente al espacio disponible.
En este caso, asegura que las columnas tengan el mismo ancho 
y se alineen correctamente.*/
/* */