
footer{
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #222;
    color: white;
    padding:20px;
}

.vertical{
    display: flex;
    justify-content: space-around; /*que haya espacio alrededor*/
    align-items: center;
    margin-bottom: 30px;
}

.horizontal{
    display: flex;
    padding-top:20px;
    justify-content: space-around;
    
}
/* Cada columna se alinea en vertical */
.columna{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
/* Títulos de las columnas */
.columna h1 {
    font-size: 18px;
    margin-bottom: 10px;
}

/* Enlaces */
.columna a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}
.columna li{
    list-style: none;
}
/* Efecto hover */
.columna a:hover{
    text-decoration: underline;
}