ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    flex-direction: column;
    padding: 0px;
    width: max-content;
}

li{
    background-color: rgb(136,75,0);
   
    
}

ul a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color:white;
    width: 100%;
    
}