* {
    margin: 0;
    padding: 0;
}
 
.contenedor {
    background-color: azure;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
 
.cuadrado {
    background-color: black;
    border-radius: 10%;
    animation: animacion-cuadrado 2s ease-in-out 1s 1 alternate forwards;
 
    height: 60px;
    width: 60px;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
 
#texto {
    font-weight: bold;
    color: white;
    font-size: 80px;
    opacity: 0;
    animation: aparecer 1s ease-in 3s 5 alternate forwards, rojo 1s linear 4s 1 normal forwards;
}
 
@keyframes animacion-cuadrado {
    0%, 25%{
        width: 60px;
        height: 60px;
    }
 
    50% {
        width: 60px;
        height: 240px;
    }
 
    100% {
        width: 480px;
        height: 240px;
    }
}
 
@keyframes aparecer {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 
@keyframes rojo {
    0% {
        color: white;
    }
    100% {
        color:red;
    }
}
 