
/* Reseteo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    height: 100vh; 
    padding: 0;
    background-color: #f4f4f4;
}

.contenedor {
    display: flex; 
    height: 100vh; 
    gap: 2px; /* Espacio de 2px entre el sidebar y el contenido */
}

.sidebar {
    width: 25%;
    background-color: rgb(37, 150, 190); 
    padding: 12px 24px; 
    color: white;
    height: 100%; 
}

.contenido {
    flex-grow: 1; 
    background-color: #f2f2f2; 
    padding: 12px 24px; 
    height: 100%; 
}

h2 {
    margin-bottom: 15px;
}