#cajapadre{

    
    display: flex;
    width:  600px;
    height: 200px;
    border: 1px solid black;
    flex-wrap: wrap;
    align-content: stretch;
    
    
}

#cajapadre > div{

   height: 145px;
   margin: 5px;
    background-color: rgb(174, 194, 197);
}

#caja1{
    flex:1 1 100px; 
   
}

#caja2{
    flex:1 1 100px; 
}

#caja3{
    flex:1 1 100px; 
}

#caja4{
    flex:1 1 100px; 
   
}